body {
  font-family: map-get($fonts, family), map-get($fonts, fallback);
  height: 100%;
  // width: 100%;
}
html {
  font-size: map-get($fonts, size-default);
  // height: 100%;
  @include responsiv-tablet($tablet) {
    font-size: 50%;
  }
}

body {
  overflow: hidden;
  // height: 100vh;
  @include responsiv-tablet($tablet) {
    overflow-y: scroll;
  }
}
