$tablet: 769px;
$desktop: 600px;
$laptop: 1020px;

@mixin responsiv-tablet($tablet) {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin responsiv-desktop($desktop) {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}
