<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>Ambassador | GIGM</title>
	<!-- Font Awesome -->
	<link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One"
		  rel="stylesheet" />

	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

	<!-- Bootstrap core CSS -->
	<link href="~/app/Assetscampus/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="~/app/Assetscampus/css/mdb.min.css" rel="stylesheet" />
	<!-- Your custom styles (optional) -->
	<link href="~/app/Assetscampus/css/style.css" rel="stylesheet" />
	<link href="~/app/Assetscampus/css/custom.css" rel="stylesheet" />
</head>

<body>
	<nav class="nav lighten-4 py-4 d-flex justify-content-around">
		<a class="nav-link active navbar-brand" style="position:initial;" href="http://www.gigm.com">
			<img src="~/app/Assetscampus/img/logomain.jpg" alt="Logo Main" />
		</a>
		<div class="d-flex justify-content-center details">
			<a class="nav-link toggle-nation" href="#">
				<img class="ng-icon"
					 src="~/app/Assetscampus/img/Nigeria-icon.png"
					 alt="Nigeria flag icon" />
				Nigeria
			</a>
			<a class="nav-link login-link" href="#">
				<i class="fas fa-user-circle user-icon"></i> Login
			</a>
		</div>
	</nav>

	<div class="top-wrapper"></div>
	<div class="left-wrapper">
		<div class="campus-logo">
			<img src="~/app/Assetscampus/img/logo-campus.png" alt="Campus logo" class="logo" />
			<div class="banner">
				<h3 class="banner-header">Sign up now to become our</h3>
				<h1>campus</h1>
				<div class="ambassador">
					<h2>ambassador</h2>
				</div>
				<p>For Universities Across Nigeria</p>

				<div class="points">
					<p>
						Earn points when you get people to<br />
						download the gigm mobile app and register.
					</p>
					<p>
						The top 10 ambassadors on our<br />
						leader board will receive an<br />
						amazing gift
					</p>
				</div>
			</div>
		</div>
		<img src="~/app/Assetscampus/img/students.png" alt="Students chilling" class="students" />
	</div>

	<div class="right-wrapper">
		<img src="~/app/Assetscampus/img/cloud.png" alt="Cloud" class="clouds" />

		<form id="signup">
			<h2 class="responsive-header">Please fill the form below:</h2>
			<div class="form-group">
				<input type="text"
					   name="name"
					   id="name"
					   placeholder="Name:"
					   class="form-control form-control__lg green-border" />
			</div>
			<div class="form-group">
				<input type="text"
					   name="phone"
					   id="phone"
					   placeholder="Phone Number:"
					   class="form-control form-control__lg green-border" />
			</div>
			<div class="form-group">
				<input type="text"
					   name="school"
					   id="school"
					   placeholder="School:"
					   class="form-control form-control__lg green-border" />
			</div>
			<div class="form-group">
				<input type="text"
					   name="faculty"
					   id="faculty"
					   placeholder="Faculty:"
					   class="form-control form-control__lg green-border" />
			</div>

			<a type="submit" class="btn btn__lg btn-danger" style="padding-bottom:1em !important;">Sign Up</a>
		</form>
	</div>

	<!-- /Start your project here-->
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="~/app/Assetscampus/js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="~/app/Assetscampus/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="~/app/Assetscampus/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<!-- Sweet Alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript" src="~/app/Assetscampus/js/mdb.min.js"></script>

	<script src="~/app/Assetscampus/js/main.js"></script>
</body>
</html>
