@media screen and (max-width: 480px ) {
    .middle-container__left {
        padding: 2rem;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .dashboard-wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: #f7f7f7;
        margin: 0 auto;
        padding-top: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: normal;
    }
    .top-container {
        /* padding-top: 5em; */
        background-color: #ffffff;
        -webkit-box-shadow: 0px 6px 6px 0 rgba(19, 19, 19, 0.1);
        box-shadow: 0px 6px 6px 0 rgba(19, 19, 19, 0.1);
        padding: 5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .top-container, .middle-container, .bottom-container {
        margin: auto;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        width: 90%;
    }
}

.navbar-items {
    visibility: hidden;
  }

  .navbar-items--avatar {
    visibility: visible;
  }
/* simple pagination */



.simple-pagination ul {
	margin: 2em 0 20px;
	padding: 0;
	list-style: none;
	text-align: right;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #5a8298;
	border-color: #5a8298;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #5a8298;
}

/* end fi simple pagination */