@{
    Layout = "~/Views/Shared/_AmbassadorsLayout.cshtml";
}
<link href="~/AssetsAmbassadors/css/Modal.css" rel="stylesheet" />

<style>
	.button-group span {
		margin-left: 0;
		font-size: 1.3rem;
		/* margin-top: 2em; */
	}
	.left-wrapper {
		background-position: 70% 20%;
		/*background: url('../../AssetsAmbassadors/assets/img/img@3x.jpg') no-repeat;
		background-size: cover;*/
	}
	.gignation {
		display: none;
	}
.box{
 display: flex;
 align-items: center;
  justify-content: center;
 background-color: rgba(0,0,0,0.9);
  width:100vw;
  height:100vh;
  position:absolute;
  z-index:2000;

}
.box .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px dotted red;  
  /*border-bottom: 16px dotted red;*/

  width: 120px;
  height: 120px;
  -webkit-animation: spin 6s linear infinite; /* Safari */
  animation: spin 6s linear infinite;
}

/* Safari */
@@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<nav class="navbar">
	<a href="https://gigm.com" class="navbar-brand">
		<img src="~/AssetsAmbassadors/assets/img/gigm-logo.png" alt="GIGM Logo" />
	</a>

	<ul class="navbar-list" id="responsiveMenu">
		<li class="navbar-items">
			<a href="#">gigm experience</a>
			<div class="dropdown-items">
				<div class="dropdown-items__top">
					<ul class="dropdown-items__top__list">
						<h4>explore</h4>
						<li>
							<a href="https://gigm.com/Learning-Academy.aspx">learning academy</a>
						</li>
						<li>
							<a href="https://gigm.com/Travels-Tours.aspx">tour packages</a>
						</li>
						<li>
							<a href="https://gigm.com/Safety.aspx">travel safety</a>
						</li>
						<!-- <li><a href="#">campus direct</a></li> -->
					</ul>
					<ul class="dropdown-items__top__list">
						<h4>more with gigm</h4>
						<li>
							<a href="https://gigm.com/hire-vehicle.aspx">bus hire</a>
						</li>
						<li><a href="https://gigm.com/#">priority services</a></li>
						<li>
							<a href="http://giglogistics.ng/">logistics platform</a>
						</li>
						<li>
							<a href="http://mtest2.gigm.com/pages/campus">campus ambassador</a>
						</li>
					</ul>
					<ul class="dropdown-items__top__list">
						<h4>who we are</h4>
						<li><a href="https://gigm.com/About-Us.aspx">about us</a></li>
						<li><a href="https://gigm.com/Awards.aspx">awards</a></li>
						<li><a href="https://gigm.com/Careers.aspx">careers</a></li>
					</ul>
				</div>
				<div class="dropdown-items__bottom t-1"></div>
			</div>
		</li>
		<li class="navbar-items">
			<a href="https://gigm.com/pickupservice.aspx">pickup service</a>
		</li>
		<li class="navbar-items">
			<a href="#"> quick information</a>
			<div class="dropdown-items">
				<div class="dropdown-items__top">
					<ul class="dropdown-items__top__list">
						<h4>customer service</h4>
						<li><a href="https://gigm.com/Faq.aspx">FAQs</a></li>
						<li>
							<a href="https://gigm.com/Luggage-Allowance.aspx">luggage allowance</a>
						</li>
						<li>
							<a href="https://gigm.com/Terms-and-Conditions.aspx">terms and conditions</a>
						</li>
						<li>
							<a href="https://gigm.com/Customer-Care.aspx">customer care</a>
						</li>
					</ul>
					<ul class="dropdown-items__top__list">
						<h4>travel info</h4>
						<li><a href="https://gigm.com/Terminals.aspx">terminals</a></li>
						<!-- <li><a href="#">bus routes</a></li> -->
						<!-- <li><a href="#">ticket details</a></li> -->
					</ul>
					<ul class="dropdown-items__top__list">
						<h4>experience our app</h4>
						<li>
							<a href="https://gigm.com/gigm-mobile-app.aspx">get the mobile app</a>
						</li>
					</ul>
				</div>
				<div class="dropdown-items__bottom t-2"></div>
			</div>
		</li>
		<li class="navbar-items">
			<a href="https://gigm.com/enterprisepartners.aspx">become an enterprise partner</a>
		</li>
		<il class="navbar-buttons">
			<!-- <button class="rewards">pickup rewards</button> -->
			<button class="rewards rewards--flag">
				<img src="~/AssetsAmbassadors/assets/img/nigeria.png" alt="Nigeria Flag" />
				Nigeria
			</button>
		</il>
		<!-- <li class="navbar-items navbar-items--avatar">
		  <a href="#" id="logout">
			<i class="fas fa-user-circle"></i>
			Logout
		  </a>
		</li> -->
	</ul>
	<div class="nav-toggler">
		<button class="intl">
			<img src="~/AssetsAmbassadors/assets/img/nigeria.png" alt="Nigeria Flag" />
			Nigeria
		</button>
		<!-- <button class="hamburger hamburger--spin" type="button">
		  <span class="hamburger-box">
			<span class="hamburger-inner"></span>
		  </span>
		</button> -->
	</div>
</nav>

<div class="modal modal2 ">
	<div class="modal-overlay modal-toggle"></div>
	<div class="modal-wrapper modal-transition">
		<div class="modal-header">
			<h2 class="modal-heading"><text style="color:#e11d00">Choose </text>your verification type</h2>
		</div>

		<div class="modal-body">
			<div class="modal-content">

				<label class="container verify">
					Send link to my Email <text id="emailLink"></text>
					<input type="radio" checked="checked" value="email" name="verify">
					<span class="checkmark"></span>
				</label>
				<label class="container verify">
					Send text to <text id="phoneLink"></text>
					<input type="radio" value="phone" name="verify">
					<span class="checkmark checkmark-nysc"></span>
				</label>
				<div class="form-group otpcode">
					<label for="#">Kindly enter the OTP*</label>
					<input type="text" class="otp form-control" placeholder="Enter OTP" id="otpCode" />
				</div>
				<p id="demo"></p>
			</div>
		</div>
		<div class="modal-footer proceed2">
			<a id="proceed2" style="text-align:center; margin:auto; color:white;  padding: 2em 0 2em 0">Proceed</a>
		</div>
		<div class="modal-footer proceed3">
			<a id="proceed3" style="text-align:center; margin:auto; color:white;  padding: 2em 0 2em 0">Proceed</a>
		</div>
	</div>
</div>




<div class="wrapper">
	<div class="left-wrapper">
		<img src="~/AssetsAmbassadors/assets/img/gignation@3x.png"
			 alt="GiG Nation banner"
			 class="gignation" />
	</div>
	<div class="banner">
		<img src="~/AssetsAmbassadors/assets/img/gignation-dark.png"
			 alt="GiG Nation banner"
			 class="v-toggle" />
	</div>
	<div class="right-wrapper">
		<div class="text-box">
			<h1>
				<span>Sign Up</span> now to become our Ambassador
			</h1>
			<p>
				Earn money when you get people to download . register and use the GIGM app
			</p>
		</div>

		<form id="form1">
			<div class="form-group">
				<label for="#">Email or Phone Number</label>
				<input type="text" required name="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="#">password</label>
				<input type="password" required name="Password" class="form-control" />
			</div>

			<div class="button-group">
				<button id="buttoner" type="submit" class="btn red">Sign in</button>  <br /> <br />
				<span>

					<a href="@Url.Action("Register","Ambassadors")">
						sign up to be an ambassador! <i class="fas fa-arrow-right"></i>
					</a>
				</span>
			</div>
		</form>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
      //const hamburger = document.querySelector(".hamburger");
      //const navbarList = document.querySelector(".navbar-list");

      //hamburger.addEventListener("click", function() {
      //  this.classList.toggle("is-active");
      //  navbarList.classList.toggle("show");
      //});
     
</script>
<script>
	$(document).ready(function () {
		$("#number").attr('maxlength', '11');
		$(".otpcode").hide();
		$(".proceed3").hide();
	});

	//});
</script>
<script src="~/AssetsAmbassadors/js/loginserviceV4.js"></script>

<script src="~/AssetsAmbassadors/js/nextV2.js"></script>
