<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="LogPath" value="~/Logs/" />
    <add key="emailpass" value="God1$G00dS!te" />
    <add key="EmailFromAddress" value="gigmhire@gigm.com" />
    <add key="BccEmailRecipients" value="abak.paula@gigm.com, onyemali.uche@thegiggroupng.com, ojo.vuakpor@thegiggroupng.com" />
    <add key="BusPriceAfter350KM" value="150" />
    <add key="GoogleAPIKey" value="AIzaSyCLi2zkrsUPeBdkOADX1QMiANTSwAi74-U" />
    <add key="HireInterSwtichPayURL" value="https://gigm.com/HireGatewayResponse.aspx?" />
    <add key="ExcelFilePath" value="C:\Users\wilmot\Source\Repos\gigmDec2016\GIGMWEB\camp.xls" />
    <add key="ExcelConnStr" value="Provider=Microsoft.ACE.OLEDB.12.0;data source=#ExcelFilePath#;Extended Properties=Excel 12.0;" />
    <add key="CarServiceKey" value="c4bEcAX68NDFrd/f2GELFA==" />
    <add key="AgentTypeId" value="2" />
    <add key="Redirecturl" value="https://m.gigm.com" />
    <add key="::ServiceVersion" value="v3" />
    <add key="WebPayTest" value="https://sandbox.interswitchng.com/webpay/pay" />
    <add key="WebPayLive" value="https://webpay.interswitchng.com/paydirect/pay" />
    <add key="PaystackResponse_" value="http://mtest2.gigm.com/Pages/PayStackResponse" />
    <add key="PaystackResponse" value="http://localhost:11506/Pages/PayStackResponse" />
    <add key="PaystackResponse_" value="http://localhost/gigm-mobile/Pages/PayStackResponse" />
    <add key="PaystackResponse_" value="https://m.gigm.com/Pages/PayStackResponse" />
    <add key="PaystackSubAccount" value="ACCT_4429pn4ea93b1h9"/>
    <add key="InterswtichKeyTest" value="D3D1D05AFE42AD50818167EAC73C109168A0F108F32645C8B59E897FA930DA44F9230910DAC9E20641823799A107A02068F7BC0F4CC41D2952E249552255710F" />
    <add key="InterswtichLiveKey" value="6C4CE3275CCA5C23A98F96BE3CA0B8F0CCFDA1F145CC07DC97EC1FD4B07D38B4220A3EE016E34045BDB734E79D4D63F92C91F3036FCE38D5B143AA0A8997BE44" />
    <add key="WebServiceTest" value="http://gigmobilitysystem.com/api/" />
    <add key="WebServiceLive" value="http://client.thegigmobility.com/api/" />
    <add key="UnifiedPayURLCamp" value="http://localhost:59114/unifiedpaymentcamp.aspx" />
    <add key="UnifiedPayURL" value="http://localhost:59114/unifiedpaymentresponse.aspx" />
    <add key="InterSwtichPayURL" value="http://localhost:59114/gatewayresponse.aspx?" />
    <add key="CampPayURL" value="http://localhost:59114/Camp-Direct-Confirmation.aspx?" /><!--C:\Users\micha\source\repos\m.gigm-Material\GigmMobile\Views\Pages\FlutterWavePay.cshtml-->
    <add key="Systempath" value="C:\\Users\\user\\Source\\Repos\\gigm Web on gigm\\GIGMWEB\\glog\\" />
    <add key="WebServiceApiKeyTest" value="yn1nuVHDEr0E78laMVBT5zvI5bv6nsk0qtQOkYAnMmSukN9evyN0kUuSb0MxxqPQxGxro59stsR9vw1kCPbxMWuLqnWgMUgRG1oYdL4ExZIpvppjLcWCkt_h9ZsLCPAJYxjG9hxtK-hbpsbZz4n9PxRWpjEohXsL1hqE-lJJXlX5ijCArWWCJJGrrBtOU95f_hvdS4Q3oe0rJfx1E17_0QK0sz4ZsPGeL6b-VuQZmyExPPnpi_-_41TR_4z5wGP0-BOXArHMUz0lv4sRsHU3qqLLsT3l2qvco0x5SHGXcSvWxDFUDgPxclLLI7juHU7IJmW1k7AXborym6sla6AVAcaHWRiQcUwhfwsPeoqwuy48om3HMyo3O_H-lBvd_tc6jvYEuc3X5yYH3enNXR6rkTHFk3HFH9NQGatJ53cbT7qtVW4V4ll_V4SCAHgYv53T4_MXecyAH0yF1zyZfDnRHw6jZp7iiLLgsHUTqkYY_MG83iKn_9fQ3l-3vHSzTO6aLvhEdnQJgUb-N-GFKENshirkCXXfS2rKdB3UnKO48x__BRnAghpeFw9QfVnae6g5QHSA0fuQJRJ4dc64Y7xEIA" />
    <add key="WebServiceApiKeyTestOld" value="yn1nuVHDEr0E78laMVBT5zvI5bv6nsk0qtQOkYAnMmSukN9evyN0kUuSb0MxxqPQxGxro59stsR9vw1kCPbxMWuLqnWgMUgRG1oYdL4ExZIpvppjLcWCkt_h9ZsLCPAJYxjG9hxtK-hbpsbZz4n9PxRWpjEohXsL1hqE-lJJXlX5ijCArWWCJJGrrBtOU95f_hvdS4Q3oe0rJfx1E17_0QK0sz4ZsPGeL6b-VuQZmyExPPnpi_-_41TR_4z5wGP0-BOXArHMUz0lv4sRsHU3qqLLsT3l2qvco0x5SHGXcSvWxDFUDgPxclLLI7juHU7IJmW1k7AXborym6sla6AVAcaHWRiQcUwhfwsPeoqwuy48om3HMyo3O_H-lBvd_tc6jvYEuc3X5yYH3enNXR6rkTHFk3HFH9NQGatJ53cbT7qtVW4V4ll_V4SCAHgYv53T4_MXecyAH0yF1zyZfDnRHw6jZp7iiLLgsHUTqkYY_MG83iKn_9fQ3l-3vHSzTO6aLvhEdnQJgUb-N-GFKENshirkCXXfS2rKdB3UnKO48x__BRnAghpeFw9QfVnae6g5QHSA0fuQJRJ4dc64Y7xEIA" />
    <add key="WebServiceApiKeyLive" value="4i/UCsEMZvDVxu0cqcwEyeqtVqOoSZGKkJ7SJtIPADdOn+Fdb+Byg9vHDyvEZRzmCLbQNTiD98Kw8z2K49in+Q==" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TestServer" value="false" />
    <add key="ChildDiscount" value="0.4" />
    <add key="emailUser" value="contact@gigm.com" />
    <add key="emailPassword" value="@Contact2016" />
    <add key="bookingUser" value="bookings@gigm.com" />
    <add key="bookingPassword" value="God1$G00dS!te" />
    <add key="BankItURL" value="http://localhost:59114/BankIt-Response.aspx" />
    <add key="webconnecturl" value="http://localhost:59114/WebConnectPost.aspx" />
    <add key="InterSwtichMobilePayURL" value="http://localhost:59114/moblegatewayresponse.aspx?" />
    <add key="UnifiedMobilePayURL" value="http://localhost:59114/Mobile-Unified-Response.aspx?" />
    <add key="PayStackSecret" value="sk_test_811ea39163d21a9625dd9b5cb9a791522d89b824" />
    <add key="PayStackSecret_" value="sk_live_73d671f3724aa1b2914350d866a20061dc5177bf"/>
    <add key="LoginUrl" value="http://client.thegigmobility.com/" />
    <add key="LoginUrlTest" value="http://client.gigmobilitysystem.com/" />
    <!--<add key="FlutterWavePublicKey" value="FLWPUBK-865c4665eee6ba09ed0df9ebae80878e-X" />-->
    <!--FLWPUBK-b56fcd0ebeac1413e2adc7872da6339d-X-->
    <!--
    <add key="FlutterWaveSecretKey" value="FLWSECK-045c2e4312c965eefc9c7c62f0a4762c-X" />-->
    <!--FLWSECK-7937608537d36ad6747ae2429474886f-X-->

    <add key="FlutterWavePublicKey" value="FLWPUBK-b56fcd0ebeac1413e2adc7872da6339d-X" />
    <!---->
    <add key="FlutterWaveSecretKey" value="FLWSECK-7937608537d36ad6747ae2429474886f-X" />
    <!---->
    <add key="FlutterWaveRedirect" value="https://m.gigm.com/Pages/FlutterwavePay?refcode=" />
    <add key="FlutterWaveRedirect_" value="http://mtest2.gigm.com/Pages/FlutterwavePay?refcode=" />
    <add key="FlutterWaveRedirect_" value="http://localhost/gigm-mobile/Pages/FlutterwavePay?refcode=" />
    <add key="FlutterWaveRedirect_" value="http://localhost:11506/Pages/FlutterwavePay?refcode=" />
    <add key="GlobalPayURL" value="http://localhost:59114/GlobalPay-Response.aspx" />
    <add key="gigms_client_id" value="X-GIG-ADMIN" />
    <add key="gigms_client_secret" value="X-GIG-Secret" />
    <add key="gigms_grant_type" value="password" />
    <!-- <add key="Username" value="desktop.site%40gigm.com" />
    <add key="Password" value="a3cfd2" />-->
    <add key="Username" value="m.gigm@gigm.com" />
    <add key="Password" value="password" />
    <add key="UsernameTest" value="admin%40thegiggroupng.com" />
    <add key="PasswordTest" value="password" />
    <!-- Test--> <add key="GIGMSToken_" value="97RLMzhcUR7SXjx3TIE9B5pJVtQpoFpvFCF8v48s0x_gdHmgrzxKNgT6RdAnIQcxHY_bUG85EAjc80dTfARMMLNaXT9f3TGsaOVuUUaCLWLqqNfR9QrA1eerK3m0ZxQ_75PjCtoDCvsAGUu23m3BVO_nT-mqJTvGgn5OU5FhqOCWeruTo3ecxI7JNaqmVj5evyr-R9725Zj2M3xXUv747rjE_o513Lm2K8YqLgaGDY_EbLAeolBTgDmMmIyUU1nZOzOj5KnBr0DxnKZIVeSJBqUWYf9qnVSYVkOLefU90XLRq7vqWXCHg9cGQ3TDzEzKbYXotBdppe1-nbLzMQFQn8v0zMl8nK9tMMTc42hZb_KdKJOLk-4Sf3laPwGacdrwxvaJPZUjG7un-jtGEAFAePoW38Z_apOdOflpH404jFA7P7sV6UMDUBXV58hbBoYZ7AWCkDzQv1uxgN9V69Y8gw" />
    
    <!-- Local--><!--<add key="GIGMSToken" value="zIs_UZVtqD_1VPpqqcFFGzN1qXwELlvnh-MIZB0qMyYkTT8iGehoquzAFaPy-sY5ifza_2SbtALK-klJjWg4ibcRY9wwIBBG3AGz54QEOrYXx09SaSoSqXs-ZFKKCt3RlBYoeujg1pk6ZLdijlTztsXOBEaR1d9PV4rpRTaeDqboLKrA5KzK0DEkloMjgEPuxxiKptXZAzerOzxCxyU1VpbPprWNdJG-w5GaPksA30K6hoeb5YcDk48jhwqvwccZGITJNlX8HYnvqhXdW5MnVg3uslNp8rm62K2TSiYcnZMTHz2L_nRORr4hik0P4paAX98_1gho_SOx3O6VilzAMGfn-SensgzIlIo16iQ8hWCm6s8hrcEVW284otqZ87VeVGDoTs9P_MrHHlIhTNYTnDtV48m4ircA48Z5UELpLSDt4lYSxu2DLSdtv67jBR5bRtXW-bXOv1mOJKbrIiZJjA" />-->
     <!-- Local--><add key="GIGMSToken_" value="zIs_UZVtqD_1VPpqqcFFGzN1qXwELlvnh-MIZB0qMyYkTT8iGehoquzAFaPy-sY5ifza_2SbtALK-klJjWg4ibcRY9wwIBBG3AGz54QEOrYXx09SaSoSqXs-ZFKKCt3RlBYoeujg1pk6ZLdijlTztsXOBEaR1d9PV4rpRTaeDqboLKrA5KzK0DEkloMjgEPuxxiKptXZAzerOzxCxyU1VpbPprWNdJG-w5GaPksA30K6hoeb5YcDk48jhwqvwccZGITJNlX8HYnvqhXdW5MnVg3uslNp8rm62K2TSiYcnZMTHz2L_nRORr4hik0P4paAX98_1gho_SOx3O6VilzAMGfn-SensgzIlIo16iQ8hWCm6s8hrcEVW284otqZ87VeVGDoTs9P_MrHHlIhTNYTnDtV48m4ircA48Z5UELpLSDt4lYSxu2DLSdtv67jBR5bRtXW-bXOv1mOJKbrIiZJjA" />
    <!-- Live--><add key="GIGMSToken" value="CeuzeR14xhEjGwyBUVxHpa0YdiyoZ9XuH_n5GQpv_CjmnMwyEePutA5cEa20tufR-WE48KC8ZqRHuY66nSLcS9WxFJFHeWABZw9pjwwc917QCje2mkWVeo4czaJOK4h0d3SaD7hY5FZ6m_-vI_Tx-YiXQK_h4UIoFqtK8EWAMlAZ0D0KidJ6eBOnnpD3hzaLqNgnZP0r2n4pDgcu-gOST-aRktJqHi4kmXBLZPXg87S8owtRvqUGX3PmdSO_llNP8i5Xet_ItvS7QUPFYz8opg-VoOUB-F21EuvIahuXOT-vBpUcqRUUSNJTl0i9XsfeTJKqoUkO71tIJh_3BUL68ZQmPqc5L9B0aDTfHyMQMsbzvN5Ks68zcWZaL9GP4N4BVAd2sq-LTSjOrr6p-f9KfhvnSthxdJcUcCixrtYiyCRRq3pLX1lDBCcko5dmDJyY-aKL3onC7LBavBhQQUB7Ug" />
    <!-- Local2--><add key="GIGMSToken_" value="c_ReAVU_9i2pA-x-3YeSq-A9T9RcF1hWaiiw4fJsCTHCWdd-gFR2WrX3F5RyIQHBjJ4lYfpIf3bZsqf0lq4UCsGoxN6jMdAlKs1ibwEA28ZxLwxaD2oXk-03TM1w2NolDzKbECApPpQbGdD7mC3m9mzqEh6SfQUwlbO4Nc4XEh6PKKsVxA2MUp8V1Gd35u7Y_gjN5HW4OR8BANr3-AO3A0abnSbWH8sk9qVnOE69bco_G2vQ1ArFxvaEVLAmG8FUtkId_x6AHxYLWCJp8YQqlyD6JAGz57AdFkxRVp7WubW-D2lJTwvZET9c2sOP7dAcvXaLh3uG9ll3Vfdi9A4sBzJQJITN7GdSCEzssbUjPhyUfO5f6nD2QV429RT8oxfOsNoznclXnJiBuoK0bZmoYfTo1PBfMWFBjOpE9p7nHB8ThL5DwqncE_tLG8XL8T3955NZOJzVal6mg71K2alylA" />
    <add key="ExpiryTime" value="01/07/2027 04:20:05 PM" />
    <add key="bookOnHoldIds" value="7,10,12,14" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <!--<system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="MyProject.Infrastructure.MyBasePage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />v
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
          
      </namespaces>
    </pages>
  </system.web.webPages.razor>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
